<div class="menu_details_component">
  <div class="main">
    <div class="image_container"></div>
    <div class="menu_item_details" *ngIf="item">
      <h1 class="menu_item_name">{{item.name}}</h1>
      <p class="menu_item_price">${{item.price | number : '1.2-2'}}</p>
    </div>
    <p class="menu_item_description">
      Steamed link-sausage sandwich where the sausage is served in the slit of a partially sliced hot dog bun.
    </p>
  </div>
  <div class="bottom">
    <button class="cta btn" (click)="addToCart(item)">Add To Cart</button>
  </div>
</div>