<div class="checkout_component">
  <img class="stripe_logo" src="assets/stripe.png" />
    <div class="stripe_container">
      <!-- STRIPE CREDIT CARD INFO UI COMES HERE -->
    </div>
    
    <div class="select_seat_container">
      <p>SELECT YOUR SEAT</p>
      <div class="form-group">
          <label class="select_seat_label" for="seat">gate-isle-row-seat</label>
          <input id="seat" type="text" class="form-control" name="seat" placeholder="5-114-25-8" />
      </div>
    </div>
  <div class="cta">Make Secure Payment</div>
</div>
