<div class="cart_component">
    <div class="cart_items_container">
      <!-- for each item in cart, repeat section below-->
      <!-- cart item repeat start -->
      <div class="cart_item">
        <img class="cart_item_image" src="assets/rogers_centre.png" />
        <div class="cart_item_details">
          <p class="cart_item_name">Hotdog</p>
          <p class="cart_item_price">$0.00</p>
        </div>
        <div class="cart_item_quantity">
          <span class="cart_item_quantity--controls">-</span>
          <span>1</span>
          <span class="cart_item_quantity--controls">+</span>
        </div>
        <div class="cart_item_remove">X</div>
      </div>
      <!-- cart item repeat start -->
    </div>

    <div class="bottom">
      <div class="cart_price_container">
        <div class="cart_price_container--top">
          <p class="cart_price_num">Subtotal: $0.00</p>
          <p class="cart_price_num">HST: $0.00</p>
        </div>
        <div class="cart_price_container--bottom">
          <span class="cart_price_total">TOTAL</span>
          <span class="cart_price_totalnum">CAD $0.00</span>
        </div>
      </div>
      <button class="cta btn">Checkout</button>
    </div>
  </div>
