.menuitems__section {
	padding: 20px 20px 0px;
}

.menuitems__heading {
	text-align: center;
	font-size: 17px;
	font-weight: 700;
}

.menuitems__content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
}

.menuitem__container {
	width: calc(50% - 10px);
	margin: 5px;
	list-style: none;
	height: 150px;
	position: relative;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid #ccc;
}

.menuitem__image {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.menuitem__description {
	position: absolute;
	width: calc(100% - 10px);
	bottom: 5px;
	left: 5px;
	background-color: rgba(5, 42, 95, 0.5);
	border-radius: 3px;
	color: #fff;
	padding: 5px 0;
}

.menuitem__name {
	margin: 0;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
}

.menuitem__price {
	margin: 0;
	text-align: center;
	font-size: 12px;
}
