<div class="menu_list_component">
  <div class="menuitems__section">
    <h3 class="menuitems__heading">FOOD</h3>

    <ul class="menuitems__content">
      <!-- repeat for each item in foodItems start -->
      <li class="menuitem__container"
        *ngFor="let food of foodItems"
        [routerLink]="['/menu-details', food.id]">
        <div class="menuitem__description">
            <p class="menuitem__name">{{food.name}}</p>
            <p class="menuitem__price">${{food.price| number : '1.2-2'}}</p>
        </div>
      </li>
      <!-- repeat for each item in foodItems end -->
    </ul>
  </div>

  <div class="menuitems__section">
      <h3 class="menuitems__heading">DRINKS</h3>
  
      <ul class="menuitems__content">
          <!-- repeat for each item in drinkItems start -->
          <li class="menuitem__container" *ngFor="let drink of drinkItems" [routerLink]="['/menu-details', drink.id]">
            <div class="menuitem__description">
                <p class="menuitem__name">{{drink.name}}</p>
                <p class="menuitem__price">${{drink.price| number : '1.2-2'}}</p>
            </div>
          </li>
      </ul>
    </div>
</div>