<div class="menu_list_component">
  <div class="menuitems__section">
    <h3 class="menuitems__heading">FOOD</h3>

    <ul class="menuitems__content">
      <li class="menuitem__container" [routerLink]="['/menu-details', 'tacos']">
        <div class="menuitem__description">
            <p class="menuitem__name">Tacos</p>
            <p class="menuitem__price">$0.00</p>
        </div>
      </li>
      <li class="menuitem__container" [routerLink]="['/menu-details', 'tacos']">
        <div class="menuitem__description">
            <p class="menuitem__name">Tacos</p>
            <p class="menuitem__price">$0.00</p>
        </div>
      </li>
      <li class="menuitem__container" [routerLink]="['/menu-details', 'tacos']">
        <div class="menuitem__description">
            <p class="menuitem__name">Tacos</p>
            <p class="menuitem__price">$0.00</p>
        </div>
      </li>
      <li class="menuitem__container" [routerLink]="['/menu-details', 'tacos']">
        <div class="menuitem__description">
            <p class="menuitem__name">Tacos</p>
            <p class="menuitem__price">$0.00</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="menuitems__section">
      <h3 class="menuitems__heading">DRINKS</h3>
  
      <ul class="menuitems__content">
          <li class="menuitem__container" [routerLink]="['/menu-details', 'tacos']">
            <div class="menuitem__description">
                <p class="menuitem__name">Tacos</p>
                <p class="menuitem__price">$0.00</p>
            </div>
          </li>
          <li class="menuitem__container" [routerLink]="['/menu-details', 'tacos']">
            <div class="menuitem__description">
                <p class="menuitem__name">Tacos</p>
                <p class="menuitem__price">$0.00</p>
            </div>
          </li>
          <li class="menuitem__container" [routerLink]="['/menu-details', 'tacos']">
            <div class="menuitem__description">
                <p class="menuitem__name">Tacos</p>
                <p class="menuitem__price">$0.00</p>
            </div>
          </li>
      </ul>
    </div>
</div>